<div class="ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="left-sidebar">
          <div class="single-widget">
            <h3>Buscar aquí</h3>
            <form>
              <input type="text" class="form-control" placeholder="Buscar">
              <button type="submit" class="src-btn">
                <i class="ri-search-line move-icon"></i>
              </button>
            </form>
          </div>
          <div class="single-widget">
            <h3>Precio</h3>
            <select class="form-select">
              <option selected>$100</option>
              <option value="1">$200</option>
              <option value="2">$300</option>
              <option value="3">$400</option>
              <option value="4">$500</option>
            </select>

          </div>

        </div>

      </div>
      <div class="col-lg-9 col-md-12">
        <!-- hotels list -->
        <div class="hotels-listing">
          <ul class="d-flex justify-content-between sorting">
            <li>
              <span>30 hoteles</span>
            </li>
            <li>
              <select class="form-select">
                <option selected>Ordenado por defecto</option>
                <option value="1">Mayor a menor precio</option>
                <option value="2">Menor a mayor precio</option>
              </select>
            </li>
          </ul>
          <ul class="hotels-list">
            <li *ngFor="let hotel of hotels" class="single-hotel-box">
              <div class="row align-items-center justify-content-center">
                <div class="col-xl-5 col-lg-12 ol-sm-12">
                  <a class="d-block">
                    <img [src]="hotel.picture" width="300" height="300">
                  </a>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-7">
                  <div class="content">
                    <h3>
                      <a>
                        {{ hotel.name }}
                      </a>
                    </h3>
                    <p>{{ hotel.street }} {{ hotel.number }}, {{ hotel.cityName }}</p>
                    <div class="rating">
                      <span>{{ hotel.averageCalification }}/5</span>
                    </div>
                    <div class="price">{{ hotel.price | number:'1.2-2' }} <span>Por noche</span></div>
                    <a class="default-btn">Reservar</a>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-5">
                  <ul class="info">
                    <li *ngFor="let service of hotel.services">
                      <!-- Icono según el nombre del servicio -->
                      <i *ngIf="service.serviceName.includes('Wifi')" class="ri-wifi-line"></i>
                      <i *ngIf="service.serviceName.includes('Parking')" class="ri-roadster-line"></i>
                      <i *ngIf="service.serviceName.includes('Aire')" class="ri-wheelchair-line"></i>
                      <i *ngIf="service.serviceName.includes('Restaurante')" class="ri-restaurant-2-line"></i>
                      <i *ngIf="service.serviceName.includes('Gym')" class="ri-riding-line"></i>
                      
                      {{ service.serviceName }}
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <!--pagination-->
          <!--<div class="pagination-area">
              <a class="next page-numbers">
                  <i class="ri-arrow-right-line"></i>
              </a>
              <span class="page-numbers current" aria-current="page">1</span>
              <a class="page-numbers">2</a>
              <a class="page-numbers">3</a>
              <a class="next page-numbers">
                  <i class="ri-arrow-left-line"></i>
              </a>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
